@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rosarivo&display=swap');

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 160px 1fr;
  grid-gap: 10px;
  margin: 10px auto;
  grid-template-areas:
    "street intro  intro intro "
    "street people gov   env"
    "info   people gov   env";
  box-sizing:content-box;
  max-width: 960px;
  }


#introduction {
  grid-area: intro;
  border: solid;
  padding: 0px 10px;
  background-color: rgba(131, 24, 27, .5);
  overflow: scroll;
}

#people-and-society {
  grid-area: people;
  border: solid;
  padding: 0px 10px;
  background-color: rgba(218, 165, 32, .5);
  overflow: scroll;
}

#government {
  grid-area: gov;
  border: solid;
  padding: 0px 10px;
  background-color: rgba(218, 165, 32, .5);
  overflow: scroll;
}

#environment {
  grid-area: env;
  border: solid;
  padding: 0px 10px;
  background-color: rgba(218, 165, 32, .5);
  overflow: scroll;
}

#info {
  grid-area: info;
  border: solid;
  padding: 0px 10px;
  background-color: rgba(131, 24, 27, .5);
  overflow: scroll;
}

figure {
  grid-area: street;
  margin: 0px 5px;
  box-sizing: content-box;
}

h2 + h3 {
  font-family: "Rosarivo", "Times New Roman", serif;
}

p {
  font-family: "Open Sans", "Arial", sans Serif;
  font-size: 16px;
}

a:link {
  color:rgb(250, 0, 5);
}

a:visited {
  color: rgb(150, 5, 150);
}

a:hover {
  color: rgb(131, 24, 27);
}

a:active {
  color: rgb(218, 165, 32);
}
